
<div>{{value}}</div>
<table class="tableStyle"  border="1">

<div class="card" >
  <h1> LIST </h1>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span>
        <a [routerLink]="['/create-class']">Add Class</a>
        <br/>
        </span>

        <thead>
        <tr>
          <th class="text-center">Code </th>
          <th class="text-center">Hours</th>
          <th class="text-center">Name</th>
          <th class="text-center">Note</th>
          <th class="text-center">Edit</th>
          <th class="text-center">Delete</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let list of classList; index as i">
          <td>{{list.code_Cl}}</td>
          <td>{{list.hours}}</td>
          <td>{{list.name_Cl}}</td>
          <td>{{list.note}}</td>
          <td>
            <span><button type="button" [routerLink]="['/edit-class',list.id]">Edit</button></span>
          </td>
          <td><span class="table-remove"><button (click)="deleteBook(i)">Delete</button></span></td>
        </tr>

        </tbody>

    </div>
  </div>
</div>
</table>

