
<h1> Edit class</h1>

<form class="tableStyle" [formGroup]="classForm" (ngSubmit)="onSubmit()" style="margin-left: 450px">
  <div>
    <label>
      ID:
      <input class="tableStyle" type="text" formControlName="id" />
    </label>
  </div>

  <div>
    <label>
      Code:
      <input class="tableStyle" type="text" formControlName="code_Cl"/>
    </label>
  </div>

  <div>
    <label>
      Name:
      <input class="tableStyle" type="text" formControlName="name_Cl"/>
    </label>
  </div>

  <div>
    <label>
      Hours:
      <input  class="tableStyle" type="text" formControlName="hours"/>
    </label>
  </div>

  <div>
    <label class="">
      Note:
      <input class="tableStyle" type="text" formControlName="note"/>
    </label>
  </div>

<br/>

  <button type="submit"> Add </button>&nbsp;
</form>
